#Files not to be saved in git

#system, cache, & logs
cache/
logs/
.console_history
usercache.json
version_history.json

#worldata & playerdata
survival/
survival_nether/
survival_the_end/
plugins/Essentials/userdata/
plugins/Essentials/usermap.csv
plugins/Essentials/warps/
plugins/Multiverse-Inventories/worlds/
plugins/Multiverse-Inventories/players/
plugins/Multiverse-Inventories/groups/

#plugin files
plugins/DiscordSRV-Build-1.19.1.jar
plugins/Dynmap-3.1-beta-1-spigot.jar

#plugin data
plugins/DiscordSRV/
plugins/dynmap/colorschemes
plugins/dynmap/export
plugins/dynmap/markers
plugins/dynmap/renderdata
plugins/dynmap/templates
plugins/dynmap/texturepacks
plugins/dynmap/web
plugins/Essentials/upgrades-done.yml
plugins/PluginMetrics/
plugins/Updater/
plugins/dynmap/custom-lightings.txt
plugins/dynmap/custom-perspectives.txt
plugins/dynmap/custom-shaders.txt
plugins/dynmap/lightings.txt
plugins/dynmap/markers.yml
plugins/dynmap/perspecives.txt
plugins/dynmap/shaders.txt
plugins/dynmap/version.txt
plugins/dynmap/worlds.txt
plugins/dynmap/perspectives.txt
plugins/dynmap/survival.pending
plugins/dynmap/survival_nether.pending
plugins/dynmap/survival_the_end.pending
plugins/dynmap/ids-by-ip.txt
plugins/ImageMaps/maps.yml
plugins/WorldGuard/cache/
plugins/WorldGurad/worlds/
plugins/dynmap/hiddenplayers.txt
plugins/dynmap/markers.yml.old
