survival/
survival_nether/
survival_the_end/
plugins/DiscordSRV/
plugins/dynmap/colorschemes
plugins/dynmap/export
plugins/dynmap/markers
plugins/dynmap/renderdata
plugins/dynmap/templates
plugins/dynmap/texturepacks
plugins/dynmap/web
usercache.json
version_history.json
cache/
logs/
plugins/Essentials/userdata/
plugins/Essentials/usermap.csv
plugins/Essentials/warps
plugins/Essentials/upgrades-done.yml
plugins/PluginMetrics/
plugins/Updater/
plugins/dynmap/custom-lightings.txt
plugins/dynmap/custom-perspectives.txt
plugins/dynmap/custom-shaders.txt
plugins/dynmap/lightings.txt
plugins/dynmap/markers.yml
plugins/dynmap/perspecives.txt
plugins/dynmap/shaders.txt
plugins/dynmap/version.txt
plugins/dynmap/worlds.txt
plugins/dynmap/perspectives.txt
plugins/dynmap/survival.pending
plugins/dynmap/survival_nether.pending
plugins/dynmap/survival_the_end.pending
plugins/dynmap/ids-by-ip.txt
.console_history
plugins/Multiverse-Inventories/worlds/
plugins/Multiverse-Inventories/players/
plugins/Multiverse-Inventories/groups
plugins/ImageMaps/maps.yml
plugins/WorldGuard/cache/
plugins/WorldGurad/worlds/
