#Files not to be saved in git

#system, cache, & logs
cache/
logs/
crash-reports/
.console_history
usercache.json
version_history.json
.gitignore.save
crash-reports/
debug/

#worldata & playerdata
survival/advancements/
survival/data/
survival/playerdata/
survival/poi/
survival/region/
survival/stats/
survival/level.dat
survival/level.dat_old
survival/session.lock
survival/uid.dat

survival_nether/
survival_the_end/
dumb/
plugins/Essentials/userdata/
plugins/Essentials/usermap.csv
plugins/Essentials/warps/
plugins/Multiverse-Inventories/worlds/
plugins/Multiverse-Inventories/players/
plugins/Multiverse-Inventories/groups/
plugins/gravy/graves.yml
plugins/gravy/items.yml
plugins/Dimensions/PlayerData/
plugins/Dimensions/Portals/portalLocations.json

#plugin files
plugins/DiscordSRV-Build-1.19.1.jar
plugins/Dynmap-3.1-beta-1-spigot.jar

#plugin data
plugins/dynmap/dumb.pending
plugins/DiscordSRV/
plugins/dynmap/colorschemes
plugins/dynmap/export
plugins/dynmap/markers
plugins/dynmap/renderdata
plugins/dynmap/templates
plugins/dynmap/texturepacks
plugins/dynmap/web
plugins/Essentials/upgrades-done.yml
plugins/PluginMetrics/
plugins/Updater/
plugins/dynmap/custom-lightings.txt
plugins/dynmap/custom-perspectives.txt
plugins/dynmap/custom-shaders.txt
plugins/dynmap/lightings.txt
plugins/dynmap/markers.yml
plugins/dynmap/perspecives.txt
plugins/dynmap/shaders.txt
plugins/dynmap/version.txt
plugins/dynmap/worlds.txt
plugins/dynmap/perspectives.txt
plugins/dynmap/survival.pending
plugins/dynmap/survival_nether.pending
plugins/dynmap/survival_the_end.pending
plugins/dynmap/ids-by-ip.txt
plugins/ImageMaps/maps.yml
plugins/WorldGuard/cache/
plugins/WorldGurad/worlds/
plugins/WorldEdit/sessions/
plugins/WorldGuard/worlds/
plugins/dynmap/hiddenplayers.txt
plugins/dynmap/markers.yml.old
plugins/Skript/backups/
plugins/WorldEdit/sessions/
plugins/Skript/variables.csv
plugins/ProtocolLib/lastupdate
